:root {
	--darkCyan: hsl(158, 36%, 37%);
	--cream: hsl(30, 38%, 92%);
	--darkBlue: hsl(212, 21%, 14%);
	--grayishBlue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
}
