:root {
	--darkCyan: hsl(158, 36%, 37%);
	--cream: hsl(30, 38%, 92%);
	--darkBlue: hsl(212, 21%, 14%);
	--grayishBlue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	background-color: var(--cream);
	font-size: 1.4rem;
	font-weight: 500;
}

h1 {
	margin: 0;
	padding: 0;
	font-family: "Fraunces", serif;
	color: var(--darkBlue);
}

p {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	color: var(--grayishBlue);
}
